<!DOCTYPE html>
<html>
<head>
	<title>Infinity slider</title>

<link rel="stylesheet" type="text/css" href="slider.css">
</head>


<body>

	<div class="slider">
	<div class="slide-track">
		<div class="slide">
			<img src="marcas/case.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="marcas/cat.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="marcas/chevrolet.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="marcas/cummins.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="marcas/freightliner.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="marcas/gmc.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="marcas/hino.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="marcas/hitachi.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="marcas/international.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="marcas/isusu.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="marcas/kenworth.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="marcas/kobelco.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="marcas/mack.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="marcas/mitsubishi.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="marcas/nissan.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="marcas/ud.png" height="100" width="250" alt="" />
		</div>


		<div class="slide">
			<img src="marcas/case.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="marcas/cat.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="marcas/chevrolet.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="marcas/cummins.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="marcas/freightliner.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="marcas/gmc.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="marcas/hino.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="marcas/hitachi.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="marcas/international.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="marcas/isusu.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="marcas/kenworth.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="marcas/kobelco.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="marcas/mack.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="marcas/mitsubishi.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="marcas/nissan.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="marcas/ud.png" height="100" width="250" alt="" />
		</div>
	</div>
</div>

</body>
</html>


